body{
    margin: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#borda{
    border: thin rgb(211, 211, 211) solid;
}


.div-with-bg{
    background: url(../img/jane.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
}

.janedoe{
    padding-top: 15px;
    font-size: 25px;
}


footer{
    margin: 0%;
    background-color: rgb(240, 240, 240);
}


p{
    font-size: 20px;
    text-align: justify;
}

a{
    text-decoration: none;
    text-decoration-color: none;
}

li{
    font-size: 20px;
}


textarea{
    resize: none;
}


.margem{
    padding-left: 15%;
    padding-right: 15%;
}

#box{
    overflow: hidden;
}

#left{
    float: left;
    width: 45%;
}

.botao{
    padding: 5 12;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;    
}


.linha{
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline;
}

#margem-bottom{
    padding-bottom: 60px;
}


.cinza{
    color: gray;
}

.vermelho{
    font-weight: bolder;
    color: rgb(212, 24, 24);
}

.fontep{
    font-weight: normal;
    font-size: 18px;
}

.amarelo{
    color: rgb(209, 148, 35);
    font-weight: bolder;
}

@media screen and (max-width: 1200px) {
    #left {
      width: 100%;
      margin-top: 0;
    }
 
  }

